/* Global Setup */
* {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	background-color: #808080;
	max-width: 100%;
	max-height: 100%;
}

/* Media Setup */
/*@media screen and (min-width: 564px){
	#imain p {
		font-size: 13px;
		top: 30%;
	}
	#imain h5 {
		bottom: 35%;
	}
	#amain p {
		font-size: 13px;
		top: 35%;
		line-height: 20px;
	}
	#cmain p {
		font-size: 13px;
		top: 30%;
	}
	#cmain img {
		top: 35%;
		width: 10%;
		left: 45%;
	}
	#cmain h5 {
		top: 57%;
	}
	#pmain {
		top: 30%;
		left: 5%;
	}
	#pmain p {
		font-size: 13px;
		line-height: 20px;
	}
	#pmain .jamlogo h5 {
		font-size: 13px;
		line-height: 20px;
	}
	#cotop {
		font-size: 13px;
		left: 0%;
	}
}

@media screen and (max-width: 720px){
	#imain p {
		font-size: 7px;
		top: 15%;
	}
	#imain h5 {
		bottom: 20%;
	}
	#amain p {
		font-size: 7px;
		top: 20%;
		line-height:10px;
	}
	#cmain p {
		font-size: 7px;
		top: 15%;
	}
	#cmain img {
		top: 17%;
		width: 10%;
		left: 45%;
	}
	#cmain h5 {
		font-size: 7px;
		top: 24%;
	}
	#pmain {
		top: 10%;
		left: 5%;
	}
	#pmain p {
		font-size: 7px;
		line-height: 10px;
	}
	#pmain .jamlogo h5 {
		font-size: 7px;
		line-height: 10px;
	}
	#cotop {
		font-size: 7px;
		top: 20%;
	}
	.old h5 {
		display: hidden;
	}
	.old p {
		display: hidden;
	}
}*/

/* Blogs Background */
#bbg {
	max-width: 100%;
}

/* Header */
header {
	float: left;
	width: 100%;
}

h1 {
	display: block;
	position: relative;
	background-color: #6cc04a;
	margin: 0;
	text-align: center;
	font-size: 7vw;
	color: #404040;
}

/* Navigation */
nav {
	opacity: 0.7;
}

ul {
	text-transform: uppercase;
	float: left;
	width: 100%;
}

ul li {
	width: 16.6666%;
	height: 3vw;
	line-height: 3vw;
	font-size: 1.5vw;
	list-style: none;
	float: left;
	background-color: #404040;
	text-align: center;
}

ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

.current a {
	background-color: purple;
}

ul li a:hover {
	background-color: purple;
}

ul li ul li {
	display: none;
}

ul li:hover ul li {
	display: block;
	width: 100%;
}

/* Main List */
#bmain {
	/*position: relative;*/
	width: 100%;
	/*left: 3%;
	right: 3%;
	padding-top: 1vh;
	float: left;*/
}

#blogstop {
	width: 100%;
	text-align: center;
	font-size: 5vw;
	color: #6cc04a;
}

a |{
	text-decoration: none;
}

.postarea {
	position: relative;
	float: left;
	margin-left: 3%;
	margin-right: 3%;
	height: 15vw;
	margin-bottom: 1%;
	width: 94%;
	background-color: #404040;
	display: inline-block;
}

.blogspics {
	width: auto;
	height: 100%;
	position: relative;
	float: left;
	/*left: 50px;
	height: 30vh;
	max-width: 30%;*/
}

.blogstitles {
	/*position: relative;*/
	display: block;
	text-align: center;
	font-size: 3vw;
	color: white;
	width: 100%;
	padding-bottom: 1%;
	text-decoration: underline;
}

.blogtext {
	text-align: center;
	font-size: 2vw;
}

.postarea h5 {
	float: left;
	font-size: 1vw;
}

#bmain .spacer {
	position: relative;
	float: center;
	margin: 25px 100px 25px 100px;
	border-top: 10px solid #6cc04a;
}

/* Per Blog */
#nbmain {
	float: left;
	padding-top: 2%;
	padding-left: 3%;
	padding-right: 3%;
	max-height: 100%;
}

#blogtitle {
	text-align: center;
	font-size: 4vw;
}

#blogpostmain {
	width: 100%;
}

.check {
	display: block;
	width: 100%;
}

#showcase {
	float: left;
	max-width: 50%;
	display: inline-block;
	margin-right: 20px;
}

#showtext {
	display: inline;
	color: white;
	font-size: 2vw;
}
.show2nd {
	display: inline-block;
}

.show2nd p {
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 2vw;
	text-align: center;
	background-color: #404040;
}

.gallery {
	width: 100%;
}

.gallery img {
	width: 30%;
	margin-left: 2%;
	margin-bottom: 2%;
}

/* Footer */
footer {
	border-top: 3px solid purple;
	float: left;
	width: 100%;
	background-color: #6cc04a;
	padding-top: 20px;
	padding-bottom: 20px;
}

#info {	
	color: #404040;
	text-align: center;
	font-size: 1vw;
}

h3 {
	text-align: center;
	color: #404040;
	font-size: 2vw;
}